<!--커서시작-->
<div class="cursor" id="cursor"></div>

<script>
window.addEventListener('DOMContentLoaded', () => {
  
    if (navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/Windows Phone/i)) {
  document.getElementById('cursor').style.opacity = 0;
}
  });

  mouseona = 0;
  document.addEventListener('mousemove', (e) => {
    let mouseX = e.pageX-10; // document의 x좌표값
    let mouseY = e.pageY-10; // document의 y좌표값

        let cursor = document.querySelector('.cursor');
        if (mouseona == 0) {
    cursor.style.left = mouseX + 'px';
    cursor.style.top = mouseY + 'px';
      }
      else {
        
      }
    
})

atag = document.querySelectorAll('.headermain, .postitm, .pagenow, .pagenp, button, .activechip');
atag.forEach((link) => {
  link.addEventListener('mouseenter', (e) => {
    let cursor = document.querySelector('.cursor');
    if (link.style.position == 'fixed')
        cursor.style.position = 'fixed';
    if (link.getAttribute('id') != 'header' && link.getAttribute('class').includes('ignz') == false)
      cursor.style.zIndex = '998'
    cursor.style.top = link.offsetTop + 'px'
    cursor.style.left = link.offsetLeft + 'px'
    cursor.style.width = link.offsetWidth + 'px'
    cursor.style.height = link.offsetHeight + 'px'
    cursor.style.borderRadius = '10px'
    if (link.getAttribute('class').includes('activechip'))
          cursor.style.borderRadius = '500px'
    console.log(link.getAttribute('class'))
    if (document.location.pathname == "/") {
      if (link.getAttribute('class').includes('postitm'))
        cursor.style.borderRadius = '30px'
      else if (link.getAttribute('id') == 'header')
        cursor.style.borderRadius = '0px', cursor.style.borderBottomLeftRadius = '30px', cursor.style.borderBottomRightRadius = '30px'
      else if (link.getAttribute('class') == 'pagenow' || link.getAttribute('class') == 'pagenp')
          cursor.style.borderRadius = '20px'
        }
    mouseona = 1
})
link.addEventListener('mouseleave', (e) => {
    let cursor = document.querySelector('.cursor');
    mouseona = 0
    if (link.style.position == 'fixed')
        cursor.style.position = 'absolute';
    cursor.style.width = ''
    cursor.style.height = ''
    cursor.style.borderRadius = ''
    cursor.style.zIndex = ''
})


link.addEventListener('mousedown', (e) => {
        let cursor = document.querySelector('.cursor');
    cursor.style.width = link.offsetWidth - 5 + 'px'
    cursor.style.height = link.offsetHeight - 5 + 'px'
    cursor.style.top = link.offsetTop + 2.5 + 'px'
    cursor.style.left = link.offsetLeft + 2.5 + 'px'
})
link.addEventListener('mouseup', (e) => {
    let cursor = document.querySelector('.cursor');
    cursor.style.width = link.offsetWidth + 'px'
    cursor.style.height = link.offsetHeight + 'px'
    cursor.style.top = link.offsetTop + 'px'
    cursor.style.left = link.offsetLeft + 'px'
})
});

document.addEventListener('mousedown', (e) => {
    if (mouseona == 0) {
      let cursor = document.querySelector('.cursor');
        cursor.style.width = '15px'
        cursor.style.height = '15px'
        cursor.style.left = mouseX - 7.5 + 'px';
        cursor.style.top = mouseY - 7.5 + 'px';
    }
})

document.addEventListener('mouseup', (e) => {
    if (mouseona == 0) {
      let cursor = document.querySelector('.cursor');
        cursor.style.width = '20px'
        cursor.style.height = '20px'
        cursor.style.left = mouseX - 10 + 'px';
        cursor.style.top = mouseY - 10 + 'px';
    }
})

document.addEventListener('mouseleave', (e) => {
  let cursor = document.querySelector('.cursor');
                cursor.style.visibility = 'hidden'
})

document.addEventListener('mouseenter', (e) => {
  let cursor = document.querySelector('.cursor');
                cursor.style.visibility = 'visible'
})
</script>
<!--커서끝-->