<!--커서시작-->
<div class="cursor" id="cursor"></div>

<script>
    window.addEventListener('DOMContentLoaded', () => {

        if (navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/Windows Phone/i)) {
            document
                .getElementById('cursor')
                .style
                .opacity = 0;
        } else {
            let cursor = document.querySelector('.cursor');
            document.addEventListener('mousemove', (e) => {
                let mouseX = e.pageX - 50; // document의 x좌표값
                let mouseY = e.pageY - 50; // document의 y좌표값

                let cursor = document.querySelector('.cursor');
                cursor.style.left = mouseX + 'px';
                cursor.style.top = mouseY - scrollY + 'px';

            })

            atag = document.querySelectorAll(
                '.postitm, .pagenow, .pagenp, button, .activechip'
            );
            atag.forEach((link) => {
                link.addEventListener('mousemove', (e) => {
                    link.style.transform = `translateX(${ 1 / 10 * (
                        e.offsetX - (link.getBoundingClientRect().right - link.getBoundingClientRect().left) / 2
                    )}px) translateY(${ 1 / 10 * (
                        e.offsetY - (link.getBoundingClientRect().top - link.getBoundingClientRect().bottom)
                    ) / 2 - 10}px)`
                })
                link.addEventListener('mouseleave', (e) => {
                    link.style.transform = ``
                    link.style.boxShadow = ''
                    cursor.style.opacity = ''
                })
                link.addEventListener('mouseenter', (e) => {
                    link.style.boxShadow = '0px 10px 10px #00000075'
                    cursor.style.opacity = '1'
                })

                link.addEventListener('mousedown', (e) => {
                    link.style.transform = `translateX(${ 1 / 10 * (
                        e.offsetX - (link.getBoundingClientRect().right - link.getBoundingClientRect().left) / 2
                    )}px) translateY(${ 1 / 10 * (
                        e.offsetY - (link.getBoundingClientRect().top - link.getBoundingClientRect().bottom)
                    ) / 2 - 10}px) scaleX(0.95) scaleY(0.95)`
                })

                link.addEventListener('mouseup', (e) => {
                    link.style.transform = `translateX(${ 1 / 10 * (
                        e.offsetX - (link.getBoundingClientRect().right - link.getBoundingClientRect().left) / 2
                    )}px) translateY(${ 1 / 10 * (
                        e.offsetY - (link.getBoundingClientRect().top - link.getBoundingClientRect().bottom)
                    ) / 2 - 10}px)`
                })
            });

            document.addEventListener('mousedown', (e) => {})

            document.addEventListener('mouseup', (e) => {})
        }
    });

    postitm = document.querySelectorAll('.postitm, .whenclickexp')
    postitm.forEach((link) => {
        link.addEventListener('click', (e) => {
            link.style.transform = `rotate3d(0, 1, 0, 0.5turn) scaleX(100) scaleY(100)`
            parent.expandside()
        })
    });

    function gotopage(url) {
        document
            .getElementsByTagName('body')[0]
            .style
            .opacity = 0
        document.location.href = url;
    }
</script>
<!--커서끝-->