<!--커서시작-->
<script>
    window.addEventListener('DOMContentLoaded', () => {

        if (navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/Windows Phone/i)) {
            return 0;
        } else {
            atag = document.querySelectorAll(
                '.postitm, .pagenow, .pagenp, button, .activechip'
            );
            atag.forEach((link) => {
                link.addEventListener('mousemove', (e) => {
                    link.style.transform = `translateX(${ 1 / 10 * (
                        e.offsetX - (link.getBoundingClientRect().right - link.getBoundingClientRect().left) / 2
                    )}px) translateY(${ 1 / 10 * (
                        e.offsetY - (link.getBoundingClientRect().top - link.getBoundingClientRect().bottom)
                    ) / 2 - 10}px)`
                })
                link.addEventListener('mouseleave', (e) => {
                    link.style.transform = ``
                    link.style.boxShadow = ''
                })
                link.addEventListener('mouseenter', (e) => {
                    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                        link.style.boxShadow = '0px 10px 10px #ffffff75'
                    } else {
                        link.style.boxShadow = '0px 10px 10px #00000075'
                    }
                })

                link.addEventListener('mousedown', (e) => {
                    link.style.transform = `translateX(${ 1 / 10 * (
                        e.offsetX - (link.getBoundingClientRect().right - link.getBoundingClientRect().left) / 2
                    )}px) translateY(${ 1 / 10 * (
                        e.offsetY - (link.getBoundingClientRect().top - link.getBoundingClientRect().bottom)
                    ) / 2 - 10}px) scaleX(0.95) scaleY(0.95)`
                    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                        link.style.boxShadow = '0px 5px 10px #ffffff75'
                    } else {
                        link.style.boxShadow = '0px 5px 10px #00000075'
                    }
                })

                link.addEventListener('mouseup', (e) => {
                    link.style.transform = `translateX(${ 1 / 10 * (
                        e.offsetX - (link.getBoundingClientRect().right - link.getBoundingClientRect().left) / 2
                    )}px) translateY(${ 1 / 10 * (
                        e.offsetY - (link.getBoundingClientRect().top - link.getBoundingClientRect().bottom)
                    ) / 2 - 10}px)`
                    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                        link.style.boxShadow = '0px 10px 10px #ffffff75'
                    } else {
                        link.style.boxShadow = '0px 10px 10px #00000075'
                    }
                })
            });

            document.addEventListener('mousedown', (e) => {})

            document.addEventListener('mouseup', (e) => {})
        }
    });

    postitm = document.querySelectorAll('.postitm, .whenclickexp')
    postitm.forEach((link) => {
        link.addEventListener('click', (e) => {
            link.style.transform = `rotate3d(0, 1, 0, 0.5turn) scaleX(100) scaleY(100)`
            parent.expandside()
        })
    });

    
</script>
<!--커서끝-->