<div class="donatediv">
    <a class="a" onclick="donatetoggle()"><div style="width:calc(100% - 10px);padding-right: 10px;"><i class="fa-solid fa-angle-down"></i></div></a>
<embed src="https://buymeacoffee.com/69kfw8nf5xp" class="donateframe" id="donateframe"></embed>
</div>
<div class="fullmenu" id="fullmenu">
    <a class="a" onclick="menutoggle()"><div style="width:calc(100% - 10px);padding-right: 10px;"><i class="fa-solid fa-angle-down"></i></div></a>
    <i class="fa-solid fa-copyright"></i> Jiheum<hR>
    <span><a href="/design" onclick="parent.gotopage('/design')" class="a" aria-label="jxheum.site 디자인 가이드"><i class="fa-solid fa-pen-ruler"></i> Design</a></span><hR>
    <span><a href="/update" onclick="parent.gotopage('/update')" class="a" aria-label="업데이트 노트"><i class="fa-solid fa-wrench"></i> Update</a></span><hR>
    <span><a onclick="donatetoggle()" class="a" aria-label="후원하기"><i class="fa-solid fa-circle-dollar-to-slot"></i> Donate</a></span><hR>
    <span id="installbtn"><a class="a" id="installbtn" style="cursor:pointer;" aria-label="PWA 설치하기"><b><i class="fa-solid fa-download"></i> Install</b></a></span>
</div>

<div class="footer" id="footer">
    <a class="a" style="text-decoration: none;" onclick="menutoggle()"><i class="fa-solid fa-bars"></i> Menu</a>
</div>

<div id="installoniOS" style="display:block;background:rgba(217, 217, 217, 0.1);width:calc(100% - 40px);bottom: 43px;right:-100%;position:fixed;padding:20px;transition: 0.6s cubic-bezier(.34,1.56,.68,1.06);backdrop-filter: blur(10px);">
    <img src="/asset/share.svg" style="vertical-align: -3px;" alt="iPhone 공유 버튼"> 누르고 홈 화면에 추가하기
</div>

<div class="bottombar" id="iosfooter" style="display:none;">
    <div class="bottommenus">
        <a href="/"><div class="menuicons selected" id="homebtn">
            <span><i class="fa-solid fa-house"></i></span><br>홈
        </div></a>
        <a href="/blog"class="menuicons" id="blogbtn"><div >
            <span><i class="fa-solid fa-file-pen"></i></span><br>블로그
        </div></a>
        <a class="menuicons" href="/design" id="designbtn"><div>
            <span><i class="fa-solid fa-pen-ruler"></i></span><br>디자인
        </div></a>
        <a class="menuicons" href="/update" id="updatebtn"><div>
            <span><i class="fa-solid fa-wrench"></i></span><br>업데이트
        </div></a>
        <a class="menuicons" onclick="donatetoggle()" id="donatebtn"><div>
            <span><i class="fa-solid fa-circle-dollar-to-slot"></i></span><br>후원하기
        </div></a>
    </div>
</div>

<div class="dynamicisland"></div>
<script>
    dynamicisland = document.querySelector('.dynamicisland')
    iosfooter = document.querySelector('#iosfooter')
    path = document.location.pathname
    document.addEventListener('DOMContentLoaded', (e) => {
        if (getPWADisplayMode() == 'standalone' && iOS()) {
            iosfooter.style.display = 'block'
            document.querySelector('#footer').style.display = 'none'
        }

        if (getPWADisplayMode() == 'twa' || getPWADisplayMode() == 'standalone') {
            document.getElementById('installbtn').style.display = 'none';
        }

        if (path == '/')
            btnid = 'homebtn'
        else if (path == '/blog/' || path.includes('20'))
            btnid = 'blogbtn'
        else if (path == '/design/')
            btnid = 'designbtn'
        else if (path == '/update/')
            btnid = 'updatebtn'
        document.getElementById(btnid).classList.add('selectedmenu')
    })

    function iOS() {
        return [
            'iPad Simulator',
            'iPhone Simulator',
            'iPod Simulator',
            'iPad',
            'iPhone',
            'iPod'
        ].includes(navigator.platform)
        // iPad on iOS 13 detection
        || (navigator.userAgent.includes("Mac") && "ontouchend" in document)
    }

    let deferredPrompt;

    window.addEventListener('beforeinstallprompt', (e) => {
        deferredPrompt = e;
    });

    const installApp = document.getElementById('installbtn');
    installApp.addEventListener('click', async () => {
        if (['iPad Simulator', 'iPhone Simulator', 'iPod Simulator', 'iPad', 'iPhone', 'iPod'].includes(navigator.platform) || (navigator.userAgent.includes("Mac") && "ontouchend" in document)) {
            document.getElementById('installoniOS').style.right = '0px'
            setTimeout(() => {
                document.getElementById('installoniOS').style.right = '-100%'
            }, 5000)
        } else if (deferredPrompt !== null) {
            deferredPrompt.prompt();
            const { outcome } = await deferredPrompt.userChoice;
            if (outcome === 'accepted') {
                deferredPrompt = null;
            }
        } else {
            alert()
        }
    });

    
    function getPWADisplayMode() {
    if (document.referrer.startsWith('android-app://'))
        return 'twa';
    if (window.matchMedia('(display-mode: browser)').matches)
        return 'browser';
    if (window.matchMedia('(display-mode: standalone)').matches)
        return 'standalone';
    if (window.matchMedia('(display-mode: minimal-ui)').matches)
        return 'minimal-ui';
    if (window.matchMedia('(display-mode: fullscreen)').matches)
        return 'fullscreen';
    if (window.matchMedia('(display-mode: window-controls-overlay)').matches)
        return 'window-controls-overlay';

    return 'unknown';
    }

    menuopen = 0
    menupage = document.getElementById('fullmenu')
    function menutoggle() {
        if (menuopen == 0)
            menupage.style.top = 0, menuopen = 1;
        else
            menupage.style.top = 'calc(100vh)', menuopen = 0;
    }

    donateopen = 0
    donatepage = document.querySelector('.donatediv')
    function donatetoggle() {
        if (donateopen == 0)
            donatepage.style.top = 0, donateopen = 1;
        else
            donatepage.style.top = 'calc(100vh)', donateopen = 0;
    }
</script>