<!-- 헤더 -->

<head>
    <link rel="icon" type="image/webp" href="/asset/icon.webp"/>
    <link rel="shortcut icon" type="image/x-icon" href="/asset/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" /> 
    <link rel="manifest" href="/asset/manifest.json"/>
    <meta charset="UTF - 8" />
    <meta http-equiv="Author" content="Jiheum" />
    <meta http-equiv="Reply-To" content="jxheum@icloud.com" />
    <meta http-equiv="Email" content ="jxheum@icloud.com" />
    <meta http-equiv="Copyright" content="Jiheum" />
    <meta property="og:image" content="이미지경로">
    <script src="https://kit.fontawesome.com/e1582c160b.js" crossorigin="anonymous"></script>
    <theme id="theme">
        <meta
            content="#1E1E1E"
            name="theme-color"
            media="(prefers-color-scheme: dark)"/>
        <meta
            content="#1E1E1E"
            name="msapplication-navbutton-color"
            media="(prefers-color-scheme: dark)"/>
        <meta
            content="#1E1E1E"
            name="apple-mobile-web-app-status-bar-style"
            media="(prefers-color-scheme: dark)"/>
        <meta
            content="#b0d5ff"
            name="theme-color"
            media="(prefers-color-scheme: light)"/>
        <meta
            content="#b0d5ff"
            name="msapplication-navbutton-color"
            media="(prefers-color-scheme: light)"/>
        <meta
            content="#b0d5ff"
            name="apple-mobile-web-app-status-bar-style"
            media="(prefers-color-scheme: light)"/>
        <meta name="mobile-web-app-capable" content="yes">
            <meta content="yes" name="apple-mobile-web-app-capable"/>
        </theme>

        <title>Jiheum</title>

        <link href="/asset/style.css" rel="stylesheet">
            <script>
                if ('serviceWorker' in navigator) {
                    navigator
                        .serviceWorker
                        .register('/asset/serviceworker.js')
                        .then(function (registration) {
                            console.log(
                                'ServiceWorker registration successful with scope: ',
                                registration.active
                            );
                        });
                };
            </script>
        </head>
        <!-- 헤더끝 -->