<!-- 헤더 -->

<head>
    <link rel="icon" type="image/png" href="/asset/icon.png"/>
    <link rel="shortcut icon" type="image/x-icon" href="/asset/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="manifest" href="/asset/manifest.json"/>
    <script src="https://kit.fontawesome.com/e1582c160b.js" crossorigin="anonymous"></script>
    <theme id="theme">
        <meta
            content="#1E1E1E"
            name="theme-color"
            media="(prefers-color-scheme: dark)"/>
        <meta
            content="#1E1E1E"
            name="msapplication-navbutton-color"
            media="(prefers-color-scheme: dark)"/>
        <meta
            content="#1E1E1E"
            name="apple-mobile-web-app-status-bar-style"
            media="(prefers-color-scheme: dark)"/>
        <meta
            content="#b0d5ff"
            name="theme-color"
            media="(prefers-color-scheme: light)"/>
        <meta
            content="#b0d5ff"
            name="msapplication-navbutton-color"
            media="(prefers-color-scheme: light)"/>
        <meta
            content="#b0d5ff"
            name="apple-mobile-web-app-status-bar-style"
            media="(prefers-color-scheme: light)"/>
        <meta name="mobile-web-app-capable" content="yes">
            <meta content="yes" name="apple-mobile-web-app-capable"/>
        </theme>

        <title>Jiheum</title>

        <link href="/asset/style.css" rel="stylesheet">
            <script>
                if ('serviceWorker' in navigator) {
                    navigator
                        .serviceWorker
                        .register('/asset/serviceworker.js')
                        .then(function (registration) {
                            console.log(
                                'ServiceWorker registration successful with scope: ',
                                registration.active
                            );
                        });
                };
            </script>
            <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>

            <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Flip.min.js"></script>
            <script
                src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
            <script
                src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/MotionPathPlugin.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/TextPlugin.min.js"></script>
            <script>
                // use a script tag or an external JS file
                document.addEventListener("DOMContentLoaded", (event) => {
                    gsap.registerPlugin(Flip, ScrollTrigger, MotionPathPlugin, TextPlugin)
                    // gsap code here!
                });
            </script>
        </head>
        <!-- 헤더끝 -->