<ul id="pagination" role="navigation">
    {% if paginator %}
        {% if paginator.total_pages <= 5 %}
            {% assign first = 1 %}
            {% assign last = paginator.total_pages %}
        {% else %}
            {% assign first = paginator.page | minus: 2 %}
            {% if first < 1 %}
                {% assign first = 1 %}
            {% endif %}
            {% assign last = first | plus: 4 %}
            {% if last > paginator.total_pages %}
                {% assign last = paginator.total_pages %}
            {% endif %}
        {% endif %}
        {% if paginator.previous_page %}
            <li id="page-prev"><a href="{{ site.baseurl }}{{ paginator.previous_page_path }}"><md-icon-button><md-icon>chevron_left</md-icon></md-icon-button></a>
            </li>
        {% else %}
            <li id="page-prev" class="disabled"><md-icon-button disabled><md-icon>chevron_left</md-icon></md-icon-button></li>
        {% endif %}
        {% for p in (first..last) %}
            {% if p == paginator.page %}
                <li class="page-number active">
                    <md-filled-icon-button>
                        {{ p }}
                    </md-filled-icon-button></li>
                {% elsif p == 1 %}
                <li class="page-number"><a href="{{ site.baseurl }}/"><md-outlined-icon-button>
                    {{ p }}
                  </md-outlined-icon-button></a></li>
            {% else %}
                <li class="page-number"><a
                            href="{{ site.baseurl }}{{ site.paginate_path | replace: ':num', p }}"><md-outlined-icon-button>
                                {{ p }}
                              </md-outlined-icon-button></a></li>
            {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
            <li id="page-next"><a href="{{ site.baseurl }}{{ paginator.next_page_path }}"><md-icon-button><md-icon>chevron_right</md-icon></md-icon-button></a>
            </li>
        {% else %}
            <li id="page-next" class="disabled"><md-icon-button disabled><md-icon>chevron_right</md-icon></md-icon-button></li>
        {% endif %}
    {% endif %}
</ul>