@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@media (prefers-color-scheme: dark) {

	body,
	html {
		background-color: #1E1E1E;
		color: #d9d9d9;
		scroll-behavior: smooth;
	}

	.header,
	.header2,
	.fixedtoc {
		background: linear-gradient(to top, transparent, #1E1E1E) !important;
	}

	.postitm, .pagenow, .pagenp, .chip, .commentsec, .bottominfosec, .contentsec code, .topbtn, button, .checkmark, .iconbtn, .bg, hr, .tocsec {
		background: rgba(255, 255, 255, 0.1);
	}

	.checkboxc input:checked ~ .checkmark {
		background-color: #b0d5ff;
	}
	.checkboxc .checkmark:after {
		border: solid #000;
	}

	.pagenpdis, .bgtxt {
		color: rgba(255, 255, 255, 0.1);
	}

	*:focus-visible {
		outline: 3px #d9d9d9 solid;
		outline-offset: 1px;
	}

	.topbtn, button {
		color: #D9D9D9;
	}

	.contentsec a:hover, .a:hover {color:#b0d5ff;}

	code .nf, .n {color:#d2a8ff;}

	code .sh, code .s {color:#a5d6ff;}

	.footer {background: linear-gradient(180deg, transparent, #1E1E1E);}
}

@media (prefers-color-scheme: light) {

	body,
	html {
		background-color: #b0d5ff;
		color: #1E1E1E;
	}

	.header,
	.header2,
	.fixedtoc {
		background: linear-gradient(to top, transparent, #b0d5ff) !important;
	}

	.postitm, .pagenow, .pagenp, .chip, .commentsec, .bottominfosec, .contentsec code, .topbtn, button, .checkmark, .iconbtn, .bg, hr .tocsec {
		background: rgba(0,0,0,0.1);
	}

	.checkboxc input:checked ~ .checkmark {
		background-color: #007aff;
	}
	.checkboxc .checkmark:after {
		border: solid #fff;
	}

	.pagenpdis, .bgtxt {
		color: rgba(0,0,0,0.1);
	}

	.postitm:focus {
		border: 3px #1E1E1E solid;
	}

	.topbtn, button {
		color: #1E1E1E
	}
	.contentsec a:hover, .a:hover {color:#007aff;}
	

	code .nf, .n {color:#6639ba;}

	code .sh, code .s {color:#0a3069;}

	.footer {background: linear-gradient(180deg, transparent, #b0d5ff);}
}

.cursor {
	visibility:visible;
	width: 100px;
	height: 100px;
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
	position: fixed;
	z-index: 10000000000;
	pointer-events: none;
	border-radius: 100%;
	filter:brightness(30%);
	transition-duration: 100ms;
	opacity: 0;
}



body,
html {
	width: 100%;
	margin: 0px;
	font-family: "Noto Sans KR", sans-serif;
	min-height: 100vh;
	font-size: 16px;
	/* padding-bottom: env(safe-area-inset-bottom); */
}

* {
	/* cursor: none; */
	white-space: normal;
	word-wrap: break-word;
	font-family: "Noto Sans KR", sans-serif;
}



.header,
.header2 {
	font-size: 40px;
	margin: 0px;
	padding: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;
	width: calc(100% - 20px);
	backdrop-filter: blur(20px);
	user-select: none;
	text-align: left;
	font-weight: 900;
	padding-left: 20px;
}

a {
	text-decoration: none;
	color: inherit;
	margin: 0;
}

a:link {
	text-decoration: none;
}

.github {
	position: fixed;
	bottom: 10px;
	right: 10px;
	user-select: none;
	z-index: 1000;
}

.mail {
	position: fixed;
	bottom: 76px;
	right: 10px;
}

.share {
	position: fixed;
	bottom: 10px;
	right: 10px;
	user-select: none;
	z-index: 1000;
}

.github2 {
	position: fixed;
	bottom: 76px;
	right: 10px;
}

.icon {
	height: 24px;
}

.content {
	margin: 20px;
	margin-top:0px;
	margin-left: env(safe-area-inset-left, 20px);
}

.comment {
	margin: 10px;
	border-radius: 30px;
}

.backbtn {
	position: fixed;
	top: 10px;
	left: 10px;
	transition-duration: 0ms;
	z-index: 1000;
}

md-linear-progress {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
}

.postitm {
	border-radius: 30px;
	padding: 20px;
    transition-duration: 500ms;
}

.posttitle {
	font-size: 20px;
}

.postspt {
	font-size: 15px;
}

#pagination {
	width: 100%;
	text-align: center;
	padding: 0px;
}

#pagination>li {
	display: inline-block;
	vertical-align: middle;
}

.footer {
	padding: calc(10px);
	padding-bottom: calc(10px + env(safe-area-inset-bottom));
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: 999;
	backdrop-filter: blur(5px);
}

.carddiv {height: calc(100vh - 50vh + 250px - 20px);padding-top: calc(50vh - 250px);}

.card {
	width: 300px;
	height: 485.4px;
	background: #ffffff37;
	border-radius: 70px;
	position:absolute;
	transition-duration: 100ms;
}

.card h1 {
	margin-top: calc(485.4px / 2 - 23px);
}

.card h2 {
	margin-top: calc(485.4px / 2 - 17.5px);
}

.card h2 i {
	font-size: 40px;
}

.card:first-child {
	left: 20px;
}
.card:nth-child(2) {
	left: calc(100vw - 40px - 280px);
}
.card:nth-child(3) {
	left: calc(100vw - 40px - 280px + 320px);
}
.card:nth-child(4) {
	left: calc(100vw - 40px - 280px + 320px * 2);
}
.card:nth-child(5) {
	left: calc(100vw - 40px - 280px + 320px * 3);
}
.card:nth-child(6) {
	left: calc(100vw - 40px - 280px + 320px * 4);
}
.card:nth-child(7) {
	left: calc(100vw - 40px - 280px + 320px * 5);
}
.card:last-child, .card:first-child {
	width: calc(100vw - 40px - 320px);
}

.cards {
    overflow-x: visible;
    text-align: center;
    position: fixed;
    left: 0;
}

.pointer {cursor:pointer;}

.pagenow {
	width: 60px;
	height: 55px;
	border-radius: 30px;
	font-size: 30px;
	font-weight: 100;
	padding-top: 5px;
	display: inline-block;
	margin: 0px;
	cursor:default;
}

.pagenp,
.pagenpdis {
	width: 30px;
	height: 27.5px;
	border-radius: 30px;
	display: inline-block;
	font-size: 12;
	padding-top: 2.5px;
	vertical-align: 3px;
	margin-left: 10px;
	margin-right: 10px;
}

.iconbtn {
	width: 35px;
    height: 35px !important;
    border-radius: 100%;
    border: none;
    padding: 9px;
	text-align: center;
}

/* .iconbtn i {width:17px;height:17px;} */



#homebtn {
	top: 14px;
	left: 15px;
}

#sharebtn {
	top: 14px;
	right: 15px;
}

.infosect {
	width: 100%;
}


.posttitle2 {
	padding: 0 20px;
    width: calc(100% - 40px);
	font-size: 40px;
	text-align: center;
	font-weight: 700;
}

.posttags {
	margin: 0px 20px;
	overflow-x: auto;
	width: calc(100% - 20px - env(safe-area-inset-left));
	margin-left: env(safe-area-inset-left, 20px);
}

.chip {
	width: fit-content;
	margin-right: 10px;
	border-radius: 500px;
	padding: 5px 10px;
	font-size: 14px;
	display: inline-block;
	margin-bottom: 5px;
	cursor:auto;
}

.activechip {
	cursor:pointer;
}

.contentsec {
	width: calc(100% - 40px - env(safe-area-inset-left));
	margin: 0 20px;
	margin-top: 15px;
	margin-left: env(safe-area-inset-left, 20px);
}

.commentsec {
	text-align: center;
	margin: 20px;
	border-radius: 30px;
	cursor: auto;
}

.bottominfosec {
	text-align: left;
	margin: 20px;
	border-radius: 70px;
	cursor: auto;
	padding: 4px;
    height: 60px;
}

.offlinecontent {
	font-size: 20px;
}

.contentsec a, .footer a {
	text-decoration: underline;
}

.contentsec code {
	width: calc(100% - 40px);
	display:block;
	padding:20px;
	white-space: pre-line;
}

.contentsec p code {
	width: auto;
	display:inline-block;
	padding:0px;
}

.postitm, .pagenow, .pagenp, button, .activechip, .clickevent {
	transition: transform 0.6s cubic-bezier(.34,1.56,.68,1.06), box-shadow 0.6s cubic-bezier(.34,1.56,.68,1.06);
	cursor:pointer;
}

.postitm:hover, .pagenow:hover, .pagenp:hover, button:hover, .activechip:hover, .clickevent:hover {
	transform:scale(1.1);
	box-shadow:0px 5px 5px rgba(255, 255, 255, 0.2);
}

.postitm:active, .pagenow:active, .pagenp:active, button:active, .activechip:active, .clickevent:active {
	transform:scale(1);
	box-shadow:0px 2.5px 2.5px rgba(255, 255, 255, 0.2);
}

button {
	display: inline-block;
    text-align: right;
    border:none;border-radius: 100px;padding:10px;
}
button i {
	vertical-align: 0.5px;
}

/* .checkboxc {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

  .checkboxc input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  .checkmark {
	position: absolute;
	top: 4.5px;
	left: 0;
	height: 25px;
	width: 25px;
	border-radius: 10px;
  }
  
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
	border-radius: 1px;
  }
  
  .checkboxc input:checked ~ .checkmark:after {
	display: block;
  }
  
  .checkboxc .checkmark:after {
	left: 8.5px;
	top: 5px;
	width: 5px;
	height: 10px;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
  } */

ul {
	padding-left: 20px;
}

hr {
	border:0px;height:5px;margin:0px;border-radius: 10px;
}

.tocsec {width:calc(100% - 40px);padding: 20px;border-radius: 30px;}

ul {margin:0;}