@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

@media (prefers-color-scheme: dark) {

	body,
	html {
		background-color: #101010;
		color: #eff6ff;
		scroll-behavior: smooth;
	}

	.header,
	.header2,
	.fixedtoc {
		background: linear-gradient(to top, transparent, #101010) !important;
	}

	.postitm, .pagenow, .pagenp, .chip, .commentsec, .bottominfosec, .contentsec code, .topbtn, button, .checkmark, .iconbtn, .bg, hr, .tocsec {
		background: #eff6ff1a;
		border: 0.01px solid #f0f6ff26;
	}

	.pagenpdis, .bgtxt {
		color: #eff6ff1a;
	}

	*:focus-visible {
		outline: 3px #eff6ff solid;
		outline-offset: 1px;
	}

	.topbtn, button {
		color: #eff6ff;
	}

	.contentsec a:hover, .a:hover {color:#eff6ff;}

	code .nf, .n {color:#d2a8ff;}

	code .sh, code .s {color:#a5d6ff;}

	.footer {background: linear-gradient(180deg, transparent, #101010);}
	.bottombar {background: #101010bf;}
	.selectedmenu {color: #007aff;}
}

@media (prefers-color-scheme: light) {

	body,
	html {
		background-color: #eff6ff;
		color: #101010;
	}

	.header,
	.header2,
	.fixedtoc {
		background: linear-gradient(to top, transparent, #eff6ff) !important;
	}

	.postitm, .pagenow, .pagenp, .chip, .commentsec, .bottominfosec, .contentsec code, .topbtn, button, .checkmark, .iconbtn, .bg, hr .tocsec {
		background: #1010101a;
		border: 0.01px solid #10101026;
	}

	.checkboxc input:checked ~ .checkmark {
		background-color: #007aff;
	}
	.checkboxc .checkmark:after {
		border: solid #fff;
	}

	.pagenpdis, .bgtxt {
		color: #1010101a;
	}

	.postitm:focus {
		border: 3px #101010 solid;
	}

	.topbtn, button {
		color: #101010
	}
	.contentsec a:hover, .a:hover {color:#007aff;}
	

	code .nf, .n {color:#6639ba;}

	code .sh, code .s {color:#0a3069;}

	.footer {background: linear-gradient(180deg, transparent, #eff6ff);}

	.bottombar {background: #eff6ffbf;}
	.selectedmenu {color: #007aff;}
}



body,
html {
	width: 100%;
	margin: 0px;
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	min-height: 100vh;
	font-size: 16px;
}

* {
	/* cursor: none; */
	white-space: normal;
	word-wrap: break-word;
}



.header,
.header2 {
	font-size: 40px;
    margin: 0px;
    padding: 10px 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: calc(100% - 20px);
    backdrop-filter: blur(3px);
    user-select: none;
    text-align: left;
    font-weight: 900;
    transition: top 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

a {
	text-decoration: none;
	color: inherit;
	margin: 0;
}

a:link {
	text-decoration: none;
}

.github {
	position: fixed;
	bottom: 10px;
	right: 10px;
	user-select: none;
	z-index: 1000;
}

.mail {
	position: fixed;
	bottom: 76px;
	right: 10px;
}

.share {
	position: fixed;
	bottom: 10px;
	right: 10px;
	user-select: none;
	z-index: 1000;
}

.github2 {
	position: fixed;
	bottom: 76px;
	right: 10px;
}

.icon {
	height: 24px;
}

.content {
    margin: 20px;
    margin-left: calc(env(safe-area-inset-left) + 20px);
    min-height: calc(100vh - env(safe-area-inset-bottom) - 47px - 68px);
    margin-top: 0px;
    margin-bottom: 0px;
}

.comment {
	margin: 10px;
	border-radius: 30px;
}

.backbtn {
	position: fixed;
	top: 10px;
	left: 10px;
	transition-duration: 0ms;
	z-index: 1000;
}

md-linear-progress {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
}

.postitm {
	border-radius: 30px;
	padding: 20px;
    transition-duration: 500ms;
}

.posttitle {
	font-size: 20px;
}

.postspt {
	font-size: 15px;
}

#pagination {
	width: 100%;
	text-align: center;
	padding: 0px;
}

#pagination>li {
	display: inline-block;
	vertical-align: middle;
}

.footer {
	padding: calc(10px);
	padding-bottom: calc(10px + env(safe-area-inset-bottom));
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: 9999;
	backdrop-filter: blur(3px);
	height:19px;
}

.carddiv {height: calc(100vh - 50vh + 250px - 20px);padding-top: calc(50vh - 250px);}

.card {
	width: 300px;
	height: 485.4px;
	background: #ffffff37;
	border-radius: 70px;
	position:absolute;
	transition-duration: 100ms;
}

.card h1 {
	margin-top: calc(485.4px / 2 - 23px);
}

.card h2 {
	margin-top: calc(485.4px / 2 - 17.5px);
}

.card h2 i {
	font-size: 40px;
}

.card:first-child {
	left: 20px;
}
.card:nth-child(2) {
	left: calc(100vw - 40px - 280px);
}
.card:nth-child(3) {
	left: calc(100vw - 40px - 280px + 320px);
}
.card:nth-child(4) {
	left: calc(100vw - 40px - 280px + 320px * 2);
}
.card:nth-child(5) {
	left: calc(100vw - 40px - 280px + 320px * 3);
}
.card:nth-child(6) {
	left: calc(100vw - 40px - 280px + 320px * 4);
}
.card:nth-child(7) {
	left: calc(100vw - 40px - 280px + 320px * 5);
}
.card:last-child, .card:first-child {
	width: calc(100vw - 40px - 320px);
}

.cards {
    overflow-x: visible;
    text-align: center;
    position: fixed;
    left: 0;
}

.pointer {cursor:pointer;}

.pagenow {
	width: 60px;
    height: 49px;
    border-radius: 30px;
    font-size: 30px;
    font-weight: 100;
    padding-top: 11px;
    display: inline-block;
    margin: 0px;
}

.pagenp,
.pagenpdis {
	width: 30px;
	height: 27.5px;
	border-radius: 30px;
	display: inline-block;
	font-size: 12;
	padding-top: 2.5px;
	vertical-align: 3px;
	margin-left: 10px;
	margin-right: 10px;
}

.iconbtn {
	width: 35px;
    height: 35px !important;
    border-radius: 100%;
    border: none;
    padding: 9px;
	text-align: center;
}

/* .iconbtn i {width:17px;height:17px;} */



#homebtn {
	top: 14px;
	left: 15px;
}

#sharebtn {
	top: 14px;
	right: 15px;
}

.infosect {
	width: calc(100% - env(safe-area-inset-left));
	margin-left: env(safe-area-inset-left);
}


.posttitle2 {
	padding: 0 20px;
    width: calc(100% - 40px);
	font-size: 30px;
	font-weight: 700;
}

.posttags {
	margin: 0px 20px;
	margin-top: 10px;
	overflow-x: auto;
	width: calc(100% - 40px);
}

.chip {
	width: fit-content;
	margin-right: 5px;
	border-radius: 500px;
	padding: 5px 10px;
	font-size: 14px;
	display: inline-block;
	margin-bottom: 5px;
	cursor:auto;
}

.activechip {
	cursor:pointer;
}

.contentsec {
	width: calc(100% - 40px - env(safe-area-inset-left));
	margin: 0 20px;
	margin-top: 10px;
	margin-left: calc(env(safe-area-inset-left) + 20px);
	margin-bottom: 10px;
}

.commentsec {
	text-align: center;
    border-radius: 6px;
    cursor: auto;
    margin: 0 20px;
    margin-left: calc(env(safe-area-inset-left) + 20px);
}

.bottominfosec {
	text-align: left;
	margin: 20px;
	border-radius: 70px;
	cursor: auto;
	padding: 4px;
    height: 60px;
	margin-left: calc(env(safe-area-inset-left) + 20px)
}

.offlinecontent {
	font-size: 20px;
}

.contentsec a, .footer a {
	text-decoration: underline;
}

.contentsec code {
	width: calc(100% - 40px);
	display:block;
	padding:20px;
	white-space: pre-line;
	font-family: D2Coding, 'D2 coding', monospace;
}

.contentsec p code {
	width: auto;
	display:inline-block;
	padding:0px;
}

.postitm, .pagenow, .pagenp, button, .activechip, .clickevent {
	transition: transform 0.6s cubic-bezier(.34,1.56,.68,1.06), box-shadow 0.6s cubic-bezier(.34,1.56,.68,1.06);
	cursor:pointer;
}

.postitm:hover, .pagenow:hover, .pagenp:hover, button:hover, .activechip:hover, .clickevent:hover {
	transform:scale(1.025);
	box-shadow:0px 0px 10px -2px rgba(255, 255, 255, 0.2);
}

.postitm:active, .pagenow:active, .pagenp:active, button:active, .activechip:active, .clickevent:active {
	transform:scale(1);
	box-shadow:0px 0px 5px -1px rgba(255, 255, 255, 0.2);
}

button {
	display: inline-block;
    text-align: right;
    border:none;border-radius: 100px;padding:10px;
}
button i {
	vertical-align: 0.5px;
}

/* .checkboxc {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

  .checkboxc input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  .checkmark {
	position: absolute;
	top: 4.5px;
	left: 0;
	height: 25px;
	width: 25px;
	border-radius: 10px;
  }
  
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
	border-radius: 1px;
  }
  
  .checkboxc input:checked ~ .checkmark:after {
	display: block;
  }
  
  .checkboxc .checkmark:after {
	left: 8.5px;
	top: 5px;
	width: 5px;
	height: 10px;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
  } */

ul {
	padding-left: 20px;
}

hr {
	border:0px;height:5px;margin:0px;border-radius: 10px;
}

.tocsec {width:calc(100% - 40px);padding: 24.25px;border-radius: 30px;}

ul {margin:0;}

.bottombar {
    width: 100%;
	padding-bottom: env(safe-area-inset-bottom);
    position: fixed;
    bottom: 0px;
    left: 0px;
    backdrop-filter: blur(3px);
}
.bottommenus {
    width:100%;
    height:40px;
    margin-top: 7px;
}
.menuicons {
    display:inline-block;
    text-align: center;
    width:calc(100% / 4 - 3.1px);
    font-weight: 600;
    font-size: 10px;
    cursor:pointer;
}
.menuicons span {
    font-size: 18px;
}

.a {cursor:pointer;}

/* #donatebtn {
    position: fixed;
    height: calc(20vw - 14px);
    bottom: -40px;
    border-radius: 100%;
    padding-top: 10px;
} */

.fullmenu {
    position: fixed;
    width: calc(100vw - 4px);
    left: 0;
    z-index: 999990;
    bottom: calc(-500px);
    backdrop-filter: blur(3px);
    text-align: center;
    font-size: 25px;
    transition: bottom 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-height: calc(100vh - 20px);
    overflow-y: auto;
    border: 2px solid #eff6ff1a;
}

.fullmenu hr {
	margin: 20px 0px;
	height:1px;
}

.fullmenu span {
	transition: font-size 0.6s cubic-bezier(.34,1.56,.68,1.06);
}

.donateframe {
	position: fixed;
    margin: 0px;
    border: 0px;
	bottom:0;
	left:0;
	width: 100vw;
	height:calc(100vh - 40px);
    opacity: 1;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: rgba(13, 12, 34, 0.1) -6px 0px 30px;
    background: url(https://cdn.buymeacoffee.com/assets/img/widget/loader.svg) center center / 64px no-repeat rgb(255, 255, 255);
    z-index: 999999;
    transition: 0.25s;
    transform-origin: right bottom;
    transform: scale(1);
    user-select: none;
}

#donatediv {
	position:fixed;
	bottom:calc(57px + env(safe-area-inset-bottom));
	right:-300px;
	text-align: center;
	font-size: 20px;
	padding: 20px;
	transition: right 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	border-radius: 100px;
	background:transparent;
	backdrop-filter: blur(3px);
}

#bodydiv {
	transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

#fmoverlay {
	width:100vw;
	height:100vh;
	position:fixed;
	display:none;
	top:0;
	left:0;
}

.contentsec ul {
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.mycardsec {
	width: 100vw;
    height: calc(100vh);
	vertical-align: middle;
    display: table-cell;
}

@media (min-width: 1000px) {
	body {
		/* background: gold; */
	}
}

/* .mycardsec tr:first-child, .mycardsec tr:last-child {
	height: 135px;
} */

.mycardsec th:first-child, .mycardsec th:last-child {
	width: 20px;
}

th {
	padding:0px;
}

.mycard {
    border-radius: 20px;
    vertical-align: top;
    padding: 20px;
    margin: 0px 20px;
}

.mycard .myname {
    text-align: left;
    font-weight: 900;
    font-size: 40px;
}

.mycard .mysns {
    text-align: left;
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
}

.mycard .myinfo {
    text-align: left;
    margin-top: 20px;
    font-size: 25px;
}