@font-face {
    font-family: "Pretendard Variable";
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url(./PretendardVariable.woff2)format("woff2-variations")
}

@media (prefers-color-scheme:dark) {
    body,html {
        background-color: #101010;
        color: #eff6ff
    }

    .gotoblog,.header,.menubtn {
        border: 1px solid #eff6ff1a
    }

    .fixedtoc,.header,.header2 {
        background: linear-gradient(to top,transparent,#101010)!important
    }

    .bg,.bottominfosec,.checkmark,.chip,.commentsec,.contentsec code,.iconbtn,.pagenow,.pagenp,.postitm,.tocsec,.topbtn,button,hr {
        background: #eff6ff1a;
        border: .01px solid #f0f6ff26
    }

    .bgtxt,.pagenpdis {
        color: #eff6ff1a
    }

    .topbtn,button {
        color: #eff6ff
    }

    .n,code .nf {
        color: #d2a8ff
    }

    .dl,.s2,code .s,code .sh {
        color: #a5d6ff
    }

    .bottombar {
        background: #101010bf
    }

    .contentsec a:hover,.mycard a:hover,.selectedmenu {
        color: #007aff
    }

    .cursor {
        color: #101010
    }

    .fullmenu {
        border: 1px solid #eff6ff1a
    }
}

@media (prefers-color-scheme:light) {
    body,html {
        background-color: #eff6ff;
        color: #101010
    }

    .gotoblog,.header,.menubtn {
        border: 1px solid #1010101a
    }

    .cursor {
        color: #eff6ff
    }

    .fixedtoc,.header,.header2 {
        background: linear-gradient(to top,transparent,#eff6ff)!important
    }

    .fullmenu {
        border: 1px solid #1010101a
    }

    .fullmenu hr {
        background: #1010101a
    }

    .contentsec a:hover,.mycard a:hover {
        color: #007aff
    }

    .bg,.bottominfosec,.checkmark,.chip,.commentsec,.contentsec code,.iconbtn,.pagenow,.pagenp,.postitm,.topbtn,button,hr .tocsec {
        background: #1010101a;
        border: .01px solid #10101026
    }

    .bgtxt,.pagenpdis {
        color: #1010101a
    }

    .topbtn,button {
        color: #101010
    }

    .n,code .nf {
        color: #6639ba
    }

    .dl,.s2,code .s,code .sh {
        color: #0a3069
    }

    .bottombar {
        background: #eff6ffbf
    }

    .selectedmenu {
        color: #007aff
    }
}

body,html {
    width: 100%;
    margin: 0;
    font-family: "Pretendard Variable",Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,"Helvetica Neue","Segoe UI","Apple SD Gothic Neo","Noto Sans KR","Malgun Gothic","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",sans-serif;
    min-height: 100vh;
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden
}

* {
    cursor: none!important;
    white-space: normal;
    word-wrap: break-word
}

.header,.header2 {
    font-size: 40px;
    padding: 0 20px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;
    border-radius: 1000px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    user-select: none;
    text-align: center;
    font-weight: 900;
    transition: .6s cubic-bezier(.34,1.56,.68,1.06)
}

.header:active {
    transform: scale(.9)
}

a {
    color: inherit
}

a,a:link {
    text-decoration: none
}

.content {
    margin: 20px;
    margin-left: calc(env(safe-area-inset-left) + 20px);
    min-height: calc(100vh - env(safe-area-inset-bottom) - 47px - 68px);
    margin-top: 0;
    margin-bottom: 0
}

.comment {
    margin: 10px;
    border-radius: 30px
}

.postitm {
    border-radius: 30px;
    padding: 20px;
    transition-duration: 500ms
}

.posttitle {
    font-size: 20px
}

.postspt {
    font-size: 15px
}

#pagination {
    width: 100%;
    text-align: center;
    padding: 0
}

#pagination>li {
    display: inline-block;
    vertical-align: middle
}

.footer {
    padding-bottom: calc(10px + env(safe-area-inset-bottom));
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    height: 37px
}

.footer .menubtn {
    margin-left: 8px;
    background: 0 0;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px)
}

.footer .menubtn,.menubtn {
    width: fit-content;
    border-radius: 500px;
    padding: 10px
}

.pointer {
    cursor: pointer
}

.pagenow,.pagenp,.pagenpdis {
    border-radius: 30px;
    display: inline-block
}

.pagenow {
    width: 60px;
    height: 49px;
    font-size: 30px;
    font-weight: 100;
    padding-top: 11px;
    margin: 0
}

.pagenp,.pagenpdis {
    width: 30px;
    height: 27.5px;
    font-size: 12;
    padding-top: 2.5px;
    vertical-align: 3px;
    margin-left: 10px;
    margin-right: 10px
}

.iconbtn {
    width: 35px;
    height: 35px!important;
    border-radius: 100%;
    border: 0;
    padding: 9px;
    text-align: center
}

#homebtn {
    top: 14px;
    left: 15px
}

#sharebtn {
    top: 14px;
    right: 15px
}

.infosect {
    width: calc(100% - env(safe-area-inset-left));
    margin-left: env(safe-area-inset-left)
}

.posttags,.posttitle2 {
    width: calc(100% - 40px)
}

.posttitle2 {
    padding: 0 20px;
    font-size: 30px;
    font-weight: 700
}

.posttags {
    margin: 10px 20px 0;
    overflow-x: auto
}

.chip {
    width: fit-content;
    margin-right: 5px;
    border-radius: 500px;
    padding: 5px 10px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 5px;
    cursor: auto
}

.commentsec,.contentsec {
    margin-left: calc(env(safe-area-inset-left) + 20px)
}

.contentsec {
    width: calc(100% - 40px - env(safe-area-inset-left));
    margin: 20px
}

.commentsec {
    text-align: center;
    border-radius: 30px;
    cursor: auto;
    margin: 0 20px
}

.contentsec a,.footer a {
    text-decoration: underline
}

.contentsec code {
    width: calc(100% - 40px);
    display: block;
    padding: 20px;
    white-space: pre-line;
    font-family: D2Coding,"D2 coding",monospace
}

.contentsec p code {
    width: auto;
    display: inline-block;
    padding: 0
}

.activechip,.clickevent,.footer a,.pagenow,.pagenp,.postitm,button {
    transition: transform .6s cubic-bezier(.34,1.56,.68,1.06),box-shadow .6s cubic-bezier(.34,1.56,.68,1.06);
    cursor: pointer
}

.activechip:hover,.clickevent:hover,.pagenow:hover,.pagenp:hover,.postitm:hover,button:hover {
    transform: scale(1);
    box-shadow: 0 0 10px -2px rgba(255,255,255,.2)
}

.postitm:hover {
    transform: scale(1.01)
}

.postitm:active {
    transform: scale(1);
    box-shadow: 0 0 5px -1px rgba(255,255,255,.2)
}

.activechip:active,.clickevent:active,.pagenow:active,.pagenp:active,button:active {
    transform: scale(.9);
    box-shadow: 0 0 5px -1px rgba(255,255,255,.2)
}

button {
    display: inline-block;
    text-align: right;
    border-radius: 100px
}

button i {
    vertical-align: .5px
}

a,hr,ul {
    margin: 0
}

ul {
    padding-left: 20px
}

hr {
    border: 0;
    height: 5px;
    border-radius: 10px
}

.tocsec {
    width: calc(100% - 40px);
    padding: 24.25px;
    border-radius: 30px
}

.bottombar {
    width: 100%;
    padding-bottom: env(safe-area-inset-bottom);
    position: fixed;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px)
}

.bottommenus {
    width: 100%;
    height: 40px;
    margin-top: 7px
}

.menuicons {
    display: inline-block;
    text-align: center;
    width: calc(100%/4 - 3.1px);
    font-weight: 600;
    font-size: 10px
}

.menuicons span {
    font-size: 18px
}

.a,.menuicons {
    cursor: pointer
}

.fullmenu {
    position: fixed;
    width: calc(100vw - 4px - 40px);
    left: 20px;
    bottom: -500px;
    z-index: 999991;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    text-align: center;
    transition: bottom .6s cubic-bezier(.87,0,.13,1),left .6s cubic-bezier(.87,0,.13,1);
    border-radius: 30px;
    max-height: calc(100vh - 40px);
    overflow-y: auto
}

.fullmenu a,button {
    padding: 10px
}

.fullmenu,.fullmenu a:hover {
    font-size: 25px
}

#donatediv,.fullmenu a:active,.gotoblog i {
    font-size: 20px
}

.fullmenu hr {
    margin: 20px 0;
    height: 1px
}

.fullmenu a,.fullmenu span {
    transition: font-size .6s cubic-bezier(.34,1.56,.68,1.06)
}

#donatediv {
    position: fixed;
    bottom: calc(57px + env(safe-area-inset-bottom));
    right: -300px;
    text-align: center;
    padding: 20px;
    transition: right .6s cubic-bezier(.22,1,.36,1);
    border-radius: 100px;
    background: 0 0;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px)
}

#bodydiv {
    transition: .6s cubic-bezier(.87,0,.13,1)
}

#fmoverlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 999990
}

.contentsec ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px
}

.mycardsec {
    width: 100vw;
    height: calc(100vh);
    vertical-align: middle;
    display: table-cell
}

@media (min-width:1000px) {
    .posttitle2 {
        font-size: 60px
    }

    .fullmenu {
        max-width: 400px;
        left: -500px;
        bottom: -1000px
    }

    main {
        width: 60vw;
        margin: 0 20vw
    }
}

.mycardsec th:first-child,.mycardsec th:last-child {
    width: 20px
}

th {
    padding: 0
}

.mycard {
    border-radius: 30px;
    vertical-align: top;
    padding: 20px;
    margin: 0 20px;
    transform-style: preserve-3d;
    cursor: default
}

.mycard a {
    cursor: pointer
}

.mycard .myinfo,.mycard .myname,.mycard .mysns {
    text-align: left;
    transition: transform .3s cubic-bezier(.34,1.56,.68,1.06)
}

.mycard .myname {
    font-weight: 900;
    font-size: 40px
}

.mycard .myinfo,.mycard .mysns {
    margin-top: 20px
}

.mycard .mysns {
    font-weight: 500;
    font-size: 20px
}

.mycard .myinfo {
    font-size: 25px
}

.mycard:hover .myinfo,.mycard:hover .myname,.mycard:hover .mysns {
    transform: translateZ(20px);
    text-shadow: 0 0 10px rgba(0,0,0,.2)
}

.mycard:active .myinfo,.mycard:active .myname,.mycard:active .mysns {
    transform: translateZ(0);
    text-shadow: 0 0 10px rgba(0,0,0,.2)
}

article h1 {
    font-size: 30px
}

article h1,article h2,article h3,article h4,article h5,article h6 {
    margin: 20px 0
}

.giscus {
    margin: 20px;
    width: calc(100% - 40px)
}

.cursor,.gotoblog {
    position: fixed;
    text-align: center
}

.gotoblog {
    bottom: calc(10px + env(safe-area-inset-bottom));
    z-index: 10000;
    right: 10px;
    font-size: 15px;
    transition: .6s cubic-bezier(.22,1,.36,1);
    width: 60px;
    height: 60px;
    background: 0 0;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px)
}

article img {
    max-width: 100%
}

.cursor {
    top: -20px;
    left: -20px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 10000px;
    pointer-events: none;
    transition: width .3s cubic-bezier(.22,1,.36,1),height .3s cubic-bezier(.22,1,.36,1),opacity .1s ease;
    z-index: 10000000;
    opacity: 1;
    backdrop-filter: invert(100%);
    -webkit-backdrop-filter: invert(100%)
}

.hovercursor {
    transition: .3s cubic-bezier(.22,1,.36,1)
}

@media (pointer:coarse) {
    .cursor {
        display: none
    }
}
