<!DOCTYPE html>
<html lang="ko">
<head>
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/webp" href="/asset/icon.webp"/>
    <link
        rel="shortcut icon"
        type="image/x-icon"
        href="/asset/favicon.ico"/>
    <link rel="apple-touch-icon" href="/asset/icon.webp">
    {% include head.html %}
    <style>
        main {
            padding: 0px 20px;
        }
        @media (min-width: 1000px) {
            main {
                width: calc(70vw - 40px);
            }
        }
    </style>
    </head>

<body data-barba="wrapper">
        <div id="bodydiv">
            {% include header.html %}
<main data-barba="container" data-barba-namespace="post">
    {{ content }}
</main>
</div>
        {% include footer.html %}
    <script src="/asset/barba.js" defer></script>
</body>
</html>