<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta content="#05002d" name="theme-color" />
		<meta content="#05002d" name="msapplication-navbutton-color" />
		<meta content="#05002d" name="apple-mobile-web-app-status-bar-style" />
        {% include head.html %}
        <title>Jxheum</title>
        <style id="firststyle">
            #header {
                background: linear-gradient(0deg, transparent, #05002d);
                text-align: left;
                padding-left: 20px;
                backdrop-filter: blur(20px);
                border-radius: 0;
            }
            body,
            html {
                background: #05002d;
                color: #fff;
                height: calc(320px * 5 + 100vh);
            }
        </style>
        <style>
            .content {
                margin-top: 0;
            }
            .cardoverlay {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top:0px;left:0px;
	pointer-events: none;
	background: linear-gradient(90deg, #05002d 0%, rgba(7,2,48,0) 1.5%, rgba(22,17,68,0) 98.5%, #05002d 100%);
}
@media all and (max-width:600px) {
	.card {
		width: calc(100vw - 40px);
		height: 300px;
		position:static;
		left:20px !important;
		display:block;
		margin-top:20px;
	}

	.card h1 {
		padding-top: calc(300px / 2 - 23px);
		margin:0;
	}
	
	.card h2 {
		padding-top: calc(300px / 2 - 17.5px);
		margin:0;
	}
	.cards {
		padding-left:20px;
		margin-top:10px;
		position:static;
		top:0px;
	}
	.carddiv {height: auto;padding-top: 0;
        margin-top: 58px;}

	
.card:last-child {
	height: calc(100vh - 40px - 320px);
	width: calc(100vw - 40px);
}
.card:last-child h1 {
	padding-top: calc((100vh - 40px - 320px) / 2 - 23px)
}

body, html {
	
	height: calc(320px * 5 + 100vh - 20px) !important;
}
}
        </style>
    </head>

    <body style="opacity: 0;">
        
            {% include header.html %}
        <button
            style="    display: inline-block;
    text-align: right;
    top: 10px;
    right: 20px;
    font-size: 20px;
    border:none;border-radius: 100px;padding:10px;position:fixed;
    z-index: 100000;
    "
            onclick="gotopage('/blog')">BLOG</button>
        <div class="carddiv">
            <div class="cards">
                <div class="card">
                    <h1>안녕하세요!</h1>
                </div>
                <a onclick="gotopage('/blog')" class="card whenclickexp pointer">
                    <div>
                        <h2>BLOG</h2>
                    </div>
                </a>
                <a class="card pointer" href="https://github.com/jxheum" target="_blank"><div>
                    <h2><i class="fab fa-github"></i></h2>
                </div></a>
                <a class="card pointer" href="mailto:jxheum@jxheum.site"><div>
                    <h2><i class="fa-solid fa-envelope"></i></h2>
                </div></a>
                <a class="card pointer" href="https://www.instagram.com/jxheum/" target="_blank"><div>
                    <h2><i class="fab fa-instagram"></i></h2>
                </div></a>
                <div class="card"><h2>Jiheum</h2></div>
                <a class="card pointer" href="#"><div>
                    <h1><i class="fa-solid fa-rotate-right"></i> 처음으로</h1>
                </div></a>
            </div>

        </div>
        <div class="cardoverlay">
        </div>
        {% include footer.html %}

        <script>
            now = 0
            cards = document.querySelectorAll('.card')

            window.addEventListener('scroll', (event) => {
                if (window.innerWidth >= 600) {
                    cards.forEach((link) => {
                        link.style.transform = `translateX(-${window.scrollY}px)`
                    });
                }
                else {
                    cards.forEach((link) => {
                        link.style.transform = `translateX(0px)`
                    });
                }
                if (window.scrollY <= 160) {
                    document.querySelector('.card:first-child').style.background = 'linear-gradient(167deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%)'
                    document.querySelector('.card:first-child').style.color = 'black'
                    document.querySelector('.card:nth-child(2)').style.background = ''
                    document.querySelector('.card:nth-child(2)').style.color = ''
                }
                else if (window.scrollY <= 480) {
                    document.querySelector('.card:first-child').style.background = ''
                    document.querySelector('.card:first-child').style.color = ''
                    document.querySelector('.card:nth-child(2)').style.background = 'linear-gradient(32deg, rgba(134,208,247,1) 0%, rgba(158,205,165,1) 100%)'
                    document.querySelector('.card:nth-child(2)').style.color = 'black'
                    document.querySelector('.card:nth-child(3)').style.background = ''
                    document.querySelector('.card:nth-child(3)').style.color = ''
                }
                else if (scrollY <= 480 + 320) {
                    document.querySelector('.card:nth-child(2)').style.background = ''
                    document.querySelector('.card:nth-child(2)').style.color = ''
                    document.querySelector('.card:nth-child(3)').style.background = 'linear-gradient(254deg, #ffffff 0%, #d1d9e0 100%)'
                    document.querySelector('.card:nth-child(3)').style.color = 'black'
                    document.querySelector('.card:nth-child(4)').style.background = ''
                    document.querySelector('.card:nth-child(4)').style.color = ''
                }
                else if (scrollY <= 480 + 320 * 2) {
                    document.querySelector('.card:nth-child(3)').style.background = ''
                    document.querySelector('.card:nth-child(3)').style.color = ''
                    document.querySelector('.card:nth-child(4)').style.background = 'radial-gradient(circle, rgba(61,129,242,1) 0%, rgba(147,220,247,1) 100%)'
                    document.querySelector('.card:nth-child(4)').style.color = 'while'
                    document.querySelector('.card:nth-child(5)').style.background = ''
                    document.querySelector('.card:nth-child(5)').style.color = ''
                }
                else if (scrollY <= 480 + 320 * 3) {
                    document.querySelector('.card:nth-child(4)').style.background = ''
                    document.querySelector('.card:nth-child(4)').style.color = ''
                    document.querySelector('.card:nth-child(5)').style.background = 'radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%)'
                    document.querySelector('.card:nth-child(5)').style.color = 'while'
                    document.querySelector('.card:nth-child(6)').style.background = ''
                    document.querySelector('.card:nth-child(6)').style.color = ''
                    document.getElementById('header').style.opacity = ''
                }
                else if (scrollY < 1600) {
                    document.querySelector('.card:nth-child(5)').style.background = ''
                    document.querySelector('.card:nth-child(5)').style.color = ''
                    document.querySelector('.card:nth-child(6)').style.background = 'linear-gradient(344deg, rgba(238,186,246,1) 0%, rgba(193,61,255,1) 100%)'
                    document.querySelector('.card:nth-child(6)').style.color = 'black'
                    document.querySelector('.card:nth-child(7)').style.background = ''
                    document.querySelector('.card:nth-child(7)').style.color = ''
                    document.getElementById('header').style.opacity = '0'
                    console.log(scrollY)
                }
                else {
                    document.querySelector('.card:nth-child(7)').style.background = 'linear-gradient(146deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%)'
                    document.querySelector('.card:nth-child(7)').style.color = ''
                }
            });

            atag = document.querySelectorAll('.card');
            atag.forEach((link) => {
                link.addEventListener('mousemove', (e) => {
                    if (window.innerWidth >= 600) {
                        link.style.transform = `translateX(${ - window.scrollY + 1 / 10 * (
                            e.offsetX - (link.getBoundingClientRect().right - link.getBoundingClientRect().left) / 2
                        )}px) translateY(${ 1 / 10 * (
                            e.offsetY - (link.getBoundingClientRect().top - link.getBoundingClientRect().bottom)
                        ) / 2 - 50}px)`
                    }
                })
                link.addEventListener('mouseleave', (e) => {
                    if (window.innerWidth >= 600) {
                        link.style.transform = `translateX(${ - window.scrollY}px)`
                        link.style.boxShadow = ''
                        cursor.style.opacity = ''
                    }
                })
                link.addEventListener('mouseenter', (e) => {
                    link.style.boxShadow = '0px 10px 10px #ffffff11'
                    cursor.style.opacity = '1'
                })

                link.addEventListener('mousedown', (e) => {
                    if (window.innerWidth >= 600) {
                        link.style.transform = `translateX(${ - window.scrollY + 1 / 10 * (
                            e.offsetX - (link.getBoundingClientRect().right - link.getBoundingClientRect().left) / 2
                        )}px) translateY(${ 1 / 10 * (
                            e.offsetY - (link.getBoundingClientRect().top - link.getBoundingClientRect().bottom)
                        ) / 2 - 50}px) scaleX(0.95) scaleY(0.95)`
                    }
                })

                link.addEventListener('mouseup', (e) => {
                    if (window.innerWidth >= 600) {
                        link.style.transform = `translateX(${ - window.scrollY + 1 / 10 * (
                            e.offsetX - (link.getBoundingClientRect().right - link.getBoundingClientRect().left) / 2
                        )}px) translateY(${ 1 / 10 * (
                            e.offsetY - (link.getBoundingClientRect().top - link.getBoundingClientRect().bottom)
                        ) / 2 - 50}px)`
                    }
                })
            });

            window.addEventListener('DOMContentLoaded', () => {
                // 모바일 장치인지 확인하기 -> 리다이렉트
                if (navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/Windows Phone/i)) {
                    document
                        .getElementById('cursor')
                        .style
                        .opacity = 0;
                }
            });

            window.onload = function () {
                resizeeffect()
            }

            window.addEventListener("resize", function () {
                resizeeffect()
            })

            function resizeeffect() {
                if (window.innerWidth >= 1000) {
                    header.style.width = '40%'
                    document
                        .querySelector('.content')[0]
                        .style
                        .width = '40%'
                } else {
                    header.style.width = ''
                    document
                        .getElementsByTagName('.content')[0]
                        .style
                        .width = ''
                }
            }

            document.addEventListener("DOMContentLoaded", () => {
                document
                    .getElementsByTagName('body')[0]
                    .style
                    .opacity = 1;
                parent.ready();
            });
        </script>

        {% include cursor.html %}

    </body>

</html>