<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta content="#060130" name="theme-color" />
        <meta content="#060130" name="msapplication-navbutton-color" />
        <meta content="#060130" name="apple-mobile-web-app-status-bar-style" />
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <link rel="icon" type="image/png" href="https://jxheum.github.io/icon.png"/>
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="https://jxheum.github.io/icon.ico"/>
        <link rel="apple-touch-icon" href="https://jxheum.github.io/icon.png">
        {% include head.html %}
        <title>Jxheum</title>
        <style id="firststyle">
            #header {
                background: transparent;
                text-align: left;
                margin-left: 20px;
                backdrop-filter: none;
            }
            body,
            html {
                background: linear-gradient(145deg, #05002d, #09043e);
                color: #D9D9D9;
                height: calc(320px * 5 + 100vh);
            }
        </style>
        <style>
            .content {
                margin-top: 0;
            }
            .cardoverlay {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top:0px;left:0px;
	pointer-events: none;
	background: linear-gradient(90deg, rgba(6,1,47,1) 0%, rgba(7,2,48,0) 1.5%, rgba(22,17,68,0) 98.5%, rgba(8,3,57,1) 100%);
}
        </style>
    </head>

    <body style="opacity: 0;">
        <a onclick="document.getElementById('header').style.fontSize = '40px'">
            {% include header.html %}</a>
        <button
            style="    display: inline-block;
    text-align: right;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    border:none;border-radius: 100px;padding:10px;position:fixed;
    z-index: 100000;
    "
            onclick="gotopage('/blog')">BLOG</button>
        <div
            style="height: calc(100vh - 50vh + 250px - 20px);padding-top: calc(50vh - 250px);">
            <div class="cards">
                <div class="card">
                    <h1 style="margin-top: calc(485.4px / 2 - 23px);">안녕하세요!</h1>
                </div>
                <a onclick="gotopage('/blog')" class="card whenclickexp pointer">
                    <div>
                        <h2>BLOG</h2>
                    </div>
                </a>
                <a class="card pointer" href="https://github.com/jxheum" target="_blank"><div>
                    <h2><i class="fab fa-github"></i></h2>
                </div></a>
                <a class="card pointer" href="mailto:jxheum@jxheum.site"><div>
                    <h2><i class="fa-solid fa-envelope"></i></h2>
                </div></a>
                <a class="card pointer" href="https://www.instagram.com/jxheum/" target="_blank"><div>
                    <h2><i class="fab fa-instagram"></i></h2>
                </div></a>
                <div class="card"><h2>Jiheum</h2></div>
            </div>

        </div>
        <div class="cardoverlay">
        </div>
        {% include footer.html %}

        <script>
            now = 0
            cards = document.querySelectorAll('.card')

            window.addEventListener('scroll', (event) => {
                cards.forEach((link) => {
                    link.style.transform = `translateX(-${window.scrollY}px)`
                });
                if (window.scrollY <= 160) {
                    document.querySelector('.card:first-child').style.background = 'linear-gradient(167deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%)'
                    document.querySelector('.card:first-child').style.color = 'black'
                    document.querySelector('.card:nth-child(2)').style.background = ''
                    document.querySelector('.card:nth-child(2)').style.color = ''
                }
                else if (window.scrollY <= 480) {
                    document.querySelector('.card:first-child').style.background = ''
                    document.querySelector('.card:first-child').style.color = ''
                    document.querySelector('.card:nth-child(2)').style.background = 'linear-gradient(32deg, rgba(134,208,247,1) 0%, rgba(158,205,165,1) 100%)'
                    document.querySelector('.card:nth-child(2)').style.color = 'black'
                    document.querySelector('.card:nth-child(3)').style.background = ''
                    document.querySelector('.card:nth-child(3)').style.color = ''
                }
                else if (scrollY <= 480 + 320) {
                    document.querySelector('.card:nth-child(2)').style.background = ''
                    document.querySelector('.card:nth-child(2)').style.color = ''
                    document.querySelector('.card:nth-child(3)').style.background = 'linear-gradient(254deg, #ffffff 0%, #d1d9e0 100%)'
                    document.querySelector('.card:nth-child(3)').style.color = 'black'
                    document.querySelector('.card:nth-child(4)').style.background = ''
                    document.querySelector('.card:nth-child(4)').style.color = ''
                }
                else if (scrollY <= 480 + 320 * 2) {
                    document.querySelector('.card:nth-child(3)').style.background = ''
                    document.querySelector('.card:nth-child(3)').style.color = ''
                    document.querySelector('.card:nth-child(4)').style.background = 'radial-gradient(circle, rgba(61,129,242,1) 0%, rgba(147,220,247,1) 100%)'
                    document.querySelector('.card:nth-child(4)').style.color = 'while'
                    document.querySelector('.card:nth-child(5)').style.background = ''
                    document.querySelector('.card:nth-child(5)').style.color = ''
                }
                else if (scrollY <= 480 + 320 * 3) {
                    document.querySelector('.card:nth-child(4)').style.background = ''
                    document.querySelector('.card:nth-child(4)').style.color = ''
                    document.querySelector('.card:nth-child(5)').style.background = 'radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%)'
                    document.querySelector('.card:nth-child(5)').style.color = 'while'
                    document.querySelector('.card:nth-child(6)').style.background = ''
                    document.querySelector('.card:nth-child(6)').style.color = ''
                    document.getElementById('header').style.opacity = ''
                }
                else if (scrollY <= 480 + 320 * 4) {
                    document.querySelector('.card:nth-child(5)').style.background = ''
                    document.querySelector('.card:nth-child(5)').style.color = ''
                    document.querySelector('.card:nth-child(6)').style.background = 'linear-gradient(344deg, rgba(238,186,246,1) 0%, rgba(193,61,255,1) 100%)'
                    document.querySelector('.card:nth-child(6)').style.color = 'black'
                    document.querySelector('.card:nth-child(7)').style.background = ''
                    document.querySelector('.card:nth-child(7)').style.color = ''
                    document.getElementById('header').style.opacity = '0'
                }
            });

            atag = document.querySelectorAll('.card');
            atag.forEach((link) => {
                link.addEventListener('mousemove', (e) => {
                    link.style.transform = `translateX(${ - window.scrollY + 1 / 10 * (
                        e.offsetX - (link.getBoundingClientRect().right - link.getBoundingClientRect().left) / 2
                    )}px) translateY(${ 1 / 10 * (
                        e.offsetY - (link.getBoundingClientRect().top - link.getBoundingClientRect().bottom)
                    ) / 2 - 50}px)`
                })
                link.addEventListener('mouseleave', (e) => {
                    link.style.transform = `translateX(${ - window.scrollY}px)`
                    link.style.boxShadow = ''
                    cursor.style.opacity = ''
                })
                link.addEventListener('mouseenter', (e) => {
                    link.style.boxShadow = '0px 10px 10px #ffffff11'
                    cursor.style.opacity = '1'
                })

                link.addEventListener('mousedown', (e) => {
                    link.style.transform = `translateX(${ - window.scrollY + 1 / 10 * (
                        e.offsetX - (link.getBoundingClientRect().right - link.getBoundingClientRect().left) / 2
                    )}px) translateY(${ 1 / 10 * (
                        e.offsetY - (link.getBoundingClientRect().top - link.getBoundingClientRect().bottom)
                    ) / 2 - 50}px) scaleX(0.95) scaleY(0.95)`
                })

                link.addEventListener('mouseup', (e) => {
                    link.style.transform = `translateX(${ - window.scrollY + 1 / 10 * (
                        e.offsetX - (link.getBoundingClientRect().right - link.getBoundingClientRect().left) / 2
                    )}px) translateY(${ 1 / 10 * (
                        e.offsetY - (link.getBoundingClientRect().top - link.getBoundingClientRect().bottom)
                    ) / 2 - 50}px)`
                })
            });

            window.addEventListener('DOMContentLoaded', () => {
                // 모바일 장치인지 확인하기 -> 리다이렉트
                if (navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/Windows Phone/i)) {
                    document
                        .getElementById('cursor')
                        .style
                        .opacity = 0;
                }
            });

            window.onload = function () {
                resizeeffect()
            }

            window.addEventListener("resize", function () {
                resizeeffect()
            })

            function resizeeffect() {
                if (window.innerWidth >= 1000) {
                    header.style.width = '40%'
                    document
                        .querySelector('.content')[0]
                        .style
                        .width = '40%'
                } else {
                    header.style.width = ''
                    document
                        .getElementsByTagName('.content')[0]
                        .style
                        .width = ''
                }
            }

            document.addEventListener("DOMContentLoaded", () => {
                document
                    .getElementsByTagName('body')[0]
                    .style
                    .opacity = 1;
                parent.ready();
            });
        </script>

        {% include cursor.html %}

    </body>

</html>