<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta name="Keywords" content="Jiheum, Jxheum, jiheum, jxheum, jiheum baek" />
        <meta name="Keywords" content="지흠, 백지흠" />
        <meta name="Description" content="안녕하세요" />
        <meta property="og:title" content="Jiheum">
        <meta property="og:description" content="My Page">
        <meta property="og:image" content="/asset/descimg.png">
        <meta property="og:url" content="/">
        <meta content="#00000a" name="theme-color" />
		<meta content="#00000a" name="msapplication-navbutton-color" />
		<meta content="#00000a" name="apple-mobile-web-app-status-bar-style" />
        {% include head.html %}
        <title>Jxheum</title>
        
    </head>

    <body>
        {% include header.html %}
        
        {% include footer.html %}
    </body>

</html>