<!DOCTYPE html>
<html lang="ko">

<head>
	<link rel="icon" type="image/png" href="/asset/icon.png" />
	<link rel="shortcut icon" type="image/x-icon" href="/asset/favicon.ico" />
	<link rel="apple-touch-icon" href="/asset/icon.png">
	{% include head.html %}
	<title>Jxheum Blog</title>
	<style>
		.jiheumtext {
			transition-duration: 500ms;
		}
		.jiheumtext:hover {
			font-size: 50px;
		}
		.jiheumtext:active {
			font-size: 45px;
		}

		.blogtext {transition-duration: 500ms;}

		@media all and (min-width:1000px) {
			#header {width: 40%;}
			body {width: 40%;}
		}
	</style>
</head>

<body>
	<!-- <헤더>
	-->
 <div id="header" class="header headermain" style="position:fixed;"><a onclick="parent.gotopage('/')" href="/"><span class="jiheumtext">Jiheum</span></a><span class="blogtext">BLOG</span></div>
 
 <!-- <헤더끝> -->
	<div style="height: 58px;"></div>
	<div class="content">
		{{ content }}

	</div>

	<div style="height: 43px;"></div>
	{% include footer.html %}


	<script>
		header = document.getElementById('header');

		

		

		postitm = document.querySelectorAll('.postitm, .whenclickexp')
		postitm.forEach((link) => {
			link.addEventListener('click', (e) => {
				link.style.transform = `rotate3d(0, 1, 0, 0.5turn) scaleX(100) scaleY(100)`
				parent.expandside()
			})
		});
	</script>



</body>

</html>