<!DOCTYPE html>
<html lang="ko">
  <head>
    <link rel="manifest" href="manifest.json" />
    <link rel="icon" type="image/png" href="https://jxheum.github.io/icon.png" />
    <link rel="shortcut icon" type="image/x-icon" href="https://jxheum.github.io/icon.ico" />
    <link rel="apple-touch-icon" href="https://jxheum.github.io/icon.png">
  {% include head.html %}
  <title>Jxheum</title>
</head>
  <body>
    {% include header.html %}
    <div class="content">
    {{ content }}
      </div>
      {% include pagination.html %}
      {% include footer.html %}
  
<script>
  header = document.getElementById('header');
  window.addEventListener('scroll', () => { 
      if (window.scrollY == 0) {
          header.style.fontSize = "";
      } else if (window.scrollY <= 48) {
          header.style.fontSize = 48 - scrollY/5;
      } else {
          header.style.fontSize = "20px"
      }
  });

  window.addEventListener('DOMContentLoaded', () => {
    document.getElementById('loader').style.opacity = 0;
  
  });
</script>
    </body>
  
</html>
