
  
<head>
<title>{{ page.title }}</title>
<link rel="manifest" href="manifest.json" />
<link rel="icon" type="image/png" href="https://jxheum.github.io/icon.png" />
<link rel="shortcut icon" type="image/x-icon" href="https://jxheum.github.io/icon.ico" />
<link rel="apple-touch-icon" href="https://jxheum.github.io/icon.png">
{% include head.html %}
<style>
    body, html {scroll-behavior: smooth;}
    .header {height: 38px;top:-58px;transition-duration: 0ms;}
    .title {font-size: 48px;padding-top: 10px;padding-left: 58px;padding-bottom: 10px;}
</style>
    </head>
    <md-linear-progress indeterminate id="loader"></md-linear-progress>
    <div class="header" id="header"></div>
    <md-icon-button class="backbtn" id="backbtn" onclick="history.back()">
        <md-icon>arrow_back</md-icon>
      </md-icon-button>
<h1 style="margin: 0px" id="title" class="title">{{ page.title }}</h1>

<div class="content">
    <div id="infosec">
        <md-chip-set>
            <md-assist-chip label="{{ page.date | date: '%Y-%m-%d %H:%M' }}"><md-icon slot="icon">calendar_month</md-icon></md-assist-chip>
            {% for tag in page.tags %}
            <md-assist-chip label="{{ tag }}"><md-icon slot="icon">tag</md-icon></md-assist-chip>
            {% unless forloop.last %},{% endunless %}
            {% endfor %}
            {% if page.comments %}
            <md-assist-chip label="댓글" onclick="comments();"><md-icon slot="icon">comment</md-icon></md-assist-chip>
            {% endif %}
            </md-chip-set>
        
        
    </div><br>
    {{page.content | markdownify}}
</div>
{% if page.comments %}
<div class="comment" id="comments">
    <livere-comment client-id="lDpERBBIvMst48KinATk"></livere-comment>
    <script type="module" src="https://www.livere.org/livere-widget.js"></script>
</div>

{% endif %}

<md-fab lowered aria-label="Share" class="share" onclick="share()">
    <md-icon slot="icon">share</md-icon>
  </md-fab>

  <md-fab lowered aria-label="github" class="github2" onclick="github()">
    <md-icon slot="icon"><img src="https://www.jxheum.site/github.svg" class="icon"></md-icon>
  </md-fab>


  <script>
    function textLengthOverCut(txt, len, lastTxt) {
        if (len == "" || len == null) { // 기본값
            len = 20;
        }
        if (lastTxt == "" || lastTxt == null) { // 기본값
            lastTxt = "...";
        }
        if (txt.length > len) {
            txt = txt.substr(0, len) + lastTxt;
        }
        return txt;
    }
    function github() {
        window.open('https://github.com/jxheum/jxheum.github.io/blob/main/_posts/' + window.location.pathname.replace(/\//g, '-').replace('-', '').slice(0, -1) + '.md', "fullscreen=yes");
    }

    function share() {
        shareData = {
            title: '{{ page.title }}',
            url: document.location.href
        }
        if (navigator.canShare(shareData)) {
            navigator.share(shareData);
        } else {
            copy_link()
        }
    }

    function copy_link() {
        temp = document.createElement("textarea");
        document.body.appendChild(temp);
        const url = document.location.pathname; // /2024/10/09/test2/
        temp.value = 'https://jxheum.site' + url; // /2024/10/09/test2/
        temp.select();
        document.execCommand("copy");
        document.body.removeChild(temp);
    }

    function comments() {
        const scrollPosition = document.getElementById('comments').offsetTop;

    //scroll을 offsetTop으로 이동시킨다.
    window.scrollTo({ top: scrollPosition, behavior: 'smooth' });
    }
</script>
<script>
    backbtn = document.getElementById('backbtn');
    header = document.getElementById('header');
    window.addEventListener('scroll', () => { 
        if (window.scrollY == 0) {
            backbtn.style.transform = "rotate(0deg)";
            backbtn.style.top = ""
            header.style.top = ""
            backbtn.style.transitionDuration = "";
            backbtn.setAttribute('onclick', 'history.back();')
        } else if (window.scrollY < 17.75) {
            backbtn.style.transform = "rotate(0deg)";
            backbtn.style.top = 27.75 - scrollY;
            header.style.top = -58 + scrollY * 3.267605633802817;
            backbtn.style.transitionDuration = "";
        } else {
            backbtn.style.top = "10px"
            header.style.top = "0px"
            backbtn.style.transitionDuration = "500ms";
            backbtn.style.transform = "rotate(90deg)";
            backbtn.setAttribute('onclick', 'window.scrollTo(0,0);')
        }
    });

    window.addEventListener('DOMContentLoaded', () => {
    document.getElementById('loader').style.opacity = 0;
  
  });
</script>

