<head>
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/png" href="https://jxheum.github.io/icon.png" />
    <link rel="shortcut icon" type="image/x-icon" href="https://jxheum.github.io/icon.ico" />
    <link rel="apple-touch-icon" href="https://jxheum.github.io/icon.png">
    {% include head.html %}


    <style>
        body,
        html {
            scroll-behavior: smooth;
        }
        /* body{visibility:hidden;} */

        .header {
            border-radius: 0;
            height: 58px;
            text-align: left;
        }

        .title {
            font-size: 24px;
            padding-top: 10px;
            padding-left: 58px;
            padding-bottom: 10px;
            font-weight: 900;
        }

        #postlistsec {
            display: none;
            transition-duration: 50ms;
        }

        .sharechip {
            display: none;
        }
    </style>
    <style id="pcstyle">
    </style>
</head>

<body style="opacity: 0;">
    <div class="postlistsec" id="postlistsec">
        <embed src="/#inpost" class="postlistif">
    </div>
    <div class="postsec">
        <div id="header" class="header">
            <button class="topbtn ignz" id="homebtn" onclick="gotopage('/')" style="position:fixed;"><i
                    class="fa-solid fa-house"></i></button>
            <button class="topbtn ignz" id="sharebtn" onclick="share();" style="position:fixed;"><i
                    class="fa-solid fa-share"></i></button>
        </div>
        <div style="height:58px" id="headerspace"></div>
        <div class="infosect">
            <div class="posttitle2">{{ page.title }}</div>
            <div class="posttags">
                <div class="chip first"><i class="fa-solid fa-calendar"></i> {{ page.date | date: '%Y-%m-%d %H:%M' }}
                </div>
                {% if page.comments %}<a href="#comments">
                    <div class="chip activechip"><i class="fa-solid fa-comments"></i> 댓글</div>
                </a>{% endif %}
                {% for tag in page.tags %}
                <div class="chip">#{{ tag }}</div>
                {% unless forloop.last %}{% endunless %}
                {% endfor %}
                <a onclick="github();" style="display: inline-block;">
                    <div class="chip activechip"><i class="fa-brands fa-github"></i> Github</div>
                </a>
                <a onclick="share();" style="display: inline-block;">
                    <div class="chip activechip sharechip"><i class="fa-solid fa-share"></i> 공유</div>
                </a>
            </div>
        </div>
        <div class="contentsec">{{page.content | markdownify}}</div>

        {% if page.comments %}
        <div class="commentsec" id="comments">
            <script src="https://utteranc.es/client.js" repo="jxheum/jxheum.github.io" issue-term="pathname"
                label="Comment" theme="preferred-color-scheme" crossorigin="anonymous" async>
                </script>
        </div>
        {% endif %}
        <div style="height: 43px;"></div>
        {% include footer.html %}
    </div>
    <script>
        function github() {
            window.open('https://github.com/jxheum/jxheum.github.io/blob/main/_posts/' + window.location.pathname.replace(/\//g, '-').replace('-', '').slice(0, -1) + '.md', "fullscreen=yes");
        }

        function share() {
            shareData = {
                title: '{{ page.title }}',
                url: document.location.href
            }
            if (navigator.canShare(shareData)) {
                navigator.share(shareData);
            } else {
                copy_link()
            }
        }

        function copy_link() {
            temp = document.createElement("textarea");
            document.body.appendChild(temp);
            const url = document.location.pathname; // /2024/10/09/test2/
            temp.value = 'https://jxheum.site' + url; // /2024/10/09/test2/
            temp.select();
            document.execCommand("copy");
            document.body.removeChild(temp);
        }

        function comments() {
            const scrollPosition = document.getElementById('comments').offsetTop;

            //scroll을 offsetTop으로 이동시킨다.
            window.scrollTo({ top: scrollPosition, behavior: 'smooth' });
        }
    </script>

    {% include cursor.html %}
    <script>
        tags = document.querySelectorAll('#comments, .postlistsec')
        tags.forEach((link) => {
            link.addEventListener('mouseenter', (e) => {
                let cursor = document.querySelector('.cursor');
                cursor.style.visibility = 'hidden'
                console.log('ji')
            })

            link.addEventListener('mouseleave', (e) => {
                let cursor = document.querySelector('.cursor');
                cursor.style.visibility = 'visible'
            })
        })
    </script>
    <script>
        window.onload = function () {
            resizeeffect()
        }

        window.addEventListener("resize", function () { resizeeffect() })

        function resizeeffect() {
            if (window.innerWidth >= 1000) {
                document.getElementById('pcstyle').innerHTML = `body,html {overflow-x:hidden;}
.postlistsec {width:40%;display:inline-block !important;position:fixed;height:100vh;}
.postlistif {border:none;width:100%;height:100%;}
.postlistsec, .postsec {display:inline-block;}
.postsec {width:calc(60% - 20px);float:right;}
#headerspace {display:none;}
.posttitle2 {font-size:50px;text-align: left;}
.posttags, .contentsec, .commentsec {margin-left:0;}
.header {display:none;}
.sharechip {display:block;}
.footer {display:none;}`
            }
            else {
                document.getElementById('pcstyle').innerHTML = ``
            document.getElementsByTagName('body')[0].style.opacity = 1;
            }
        }

        function ready() {
            document.getElementsByTagName('body')[0].style.opacity = 1;
        }

        function expandside() {
            document.querySelector('.postlistsec').style.width = '100%'
        }
    </script>
</body>