<head>
<title>{{ page.title }}</title>
<link rel="manifest" href="manifest.json" />
<link rel="icon" type="image/png" href="https://jxheum.github.io/icon.png" />
<link rel="shortcut icon" type="image/x-icon" href="https://jxheum.github.io/icon.ico" />
<link rel="apple-touch-icon" href="https://jxheum.github.io/icon.png">
{% include head.html %}
<style>
    body, html {scroll-behavior: smooth;}
    .header {height: 38px;top:-58px;transition-duration: 0ms;}
    .title {font-size: 24px;padding-top: 10px;padding-left: 58px;padding-bottom: 10px;font-weight: 900;}
</style>
    </head>
    <md-linear-progress indeterminate id="loader"></md-linear-progress>
    <div class="header" id="header"></div>
    <a href="/" id="backbtna"><md-icon-button class="backbtn" id="backbtn">
        <md-icon>arrow_back</md-icon>
      </md-icon-button></a>
      <div id="postlist" style="width: 0px;float:left;width:fit-content;overflow-y:auto;">
        <!-- {% include header.html %} -->
         

  <!-- <헤더>
   --><div id="header2" class="header2" style="top:0px;width: 491px;padding-left: 10px;"><div style="width: calc(100% - 68px);">Jxheum</div>

</div>

<!-- <헤더끝> -->
    <div style="height: 84px;"></div>
    <div class="content">
        <md-list>
            {% for post in paginator.posts %}
                    
                            
            <a href="{{ post.url }}" style="text-decoration: none;">
                            <md-list-item
                                type="link">
                              <div slot="headline">{{ post.title }}</div>
                              <div slot="supporting-text">{{ post.excerpt | strip_html | truncatewords: 20 }}</div>
                              <div slot="supporting-text"><md-icon style="font-size: 18px;width: 20px;height: 20px;vertical-align: -4.5px;">calendar_month</md-icon> {{ post.date | date: '%Y-%m-%d %H:%M' }}</div>
                              <md-icon slot="end">arrow_forward_ios</md-icon>
                            </md-list-item>
                            </a>
                            <md-divider></md-divider>
                          
                    
            {% endfor %}  
            </md-list>
    </div>
    {% include pagination.html %}
      
  
      </div>
<div id="content2">
<h1 style="margin: 0px" id="title" class="title">{{ page.title }}</h1>

<div class="content" id="content1">
    <div id="infosec">
        <md-chip-set>
            <md-assist-chip label="{{ page.date | date: '%Y-%m-%d %H:%M' }}"><md-icon slot="icon">calendar_month</md-icon></md-assist-chip>
            {% for tag in page.tags %}
            <md-assist-chip label="{{ tag }}"><md-icon slot="icon">tag</md-icon></md-assist-chip>
            {% unless forloop.last %}{% endunless %}
            {% endfor %}
            {% if page.comments %}
            <md-assist-chip label="댓글" onclick="comments();"><md-icon slot="icon">comment</md-icon></md-assist-chip>
            {% endif %}
            <md-assist-chip label="GitHub" onclick="github();"><img src="https://www.jxheum.site/github.svg" class="icon" slot="icon"></md-assist-chip>
            </md-chip-set>
        
        
    </div><br>
    {{page.content | markdownify}}
</div>
<md-divider style="width: auto;"></md-divider>
{% if page.comments %}
<div class="comment" id="comments">
    <livere-comment client-id="lDpERBBIvMst48KinATk"></livere-comment>
    <script type="module" src="https://www.livere.org/livere-widget.js"></script>
</div>

{% endif %}
</div>

<md-fab lowered aria-label="Share" class="share" onclick="share()">
    <md-icon slot="icon">share</md-icon>
  </md-fab>
<div style="height: 43px;"></div>
  {% include footer.html %}


  <script>
    function textLengthOverCut(txt, len, lastTxt) {
        if (len == "" || len == null) { // 기본값
            len = 20;
        }
        if (lastTxt == "" || lastTxt == null) { // 기본값
            lastTxt = "...";
        }
        if (txt.length > len) {
            txt = txt.substr(0, len) + lastTxt;
        }
        return txt;
    }
    function github() {
        window.open('https://github.com/jxheum/jxheum.github.io/blob/main/_posts/' + window.location.pathname.replace(/\//g, '-').replace('-', '').slice(0, -1) + '.md', "fullscreen=yes");
    }

    function share() {
        shareData = {
            title: '{{ page.title }}',
            url: document.location.href
        }
        if (navigator.canShare(shareData)) {
            navigator.share(shareData);
        } else {
            copy_link()
        }
    }

    function copy_link() {
        temp = document.createElement("textarea");
        document.body.appendChild(temp);
        const url = document.location.pathname; // /2024/10/09/test2/
        temp.value = 'https://jxheum.site' + url; // /2024/10/09/test2/
        temp.select();
        document.execCommand("copy");
        document.body.removeChild(temp);
    }

    function comments() {
        const scrollPosition = document.getElementById('comments').offsetTop;

    //scroll을 offsetTop으로 이동시킨다.
    window.scrollTo({ top: scrollPosition, behavior: 'smooth' });
    }
</script>
<script>
    backbtn = document.getElementById('backbtn');
    backbtna = document.getElementById('backbtna');
    header = document.getElementById('header');
    window.addEventListener('scroll', () => { 
        if (window.scrollY == 0) {
            backbtn.style.transform = "rotate(0deg)";
            header.style.top = ""
            backbtn.style.transitionDuration = "";
            backbtna.setAttribute('href', '/');
        } else if (window.scrollY < 22) {
            backbtn.style.transform = "rotate(0deg)";
            header.style.top = -58 + scrollY * 2.6363636364;
            backbtn.style.transitionDuration = "";
            backbtna.setAttribute('href', '/');
        } else {
            header.style.top = "0px"
            backbtn.style.transitionDuration = "500ms";
            backbtn.style.transform = "rotate(90deg)";
            backbtn.setAttribute('onclick', 'window.scrollTo(0,0);')
            backbtna.setAttribute('href', '#');
        }
    });

    window.addEventListener('DOMContentLoaded', () => {
    document.getElementById('loader').style.opacity = 0;
  
  });
</script>

<script>
    postlist = document.getElementById('postlist')
    contentdiv = document.getElementById('content2')
    backbtna = document.getElementById('backbtna')
    title = document.getElementById('title')
    content1 = document.getElementById('content1')
    header2 = document.getElementById('header2')

    function resizeevent() {
      const width = window.innerWidth;
      const height = window.innerHeight;
      if (width >= 1000) {
        postlist.style.width = '500px'
        postlist.style.display = ''
        postlist.style.height = 'calc(100vh)'
        postlist.style.borderRight = '1px #44474e solid'
        contentdiv.style.width = 'calc(100% - 511px)'
        contentdiv.style.paddingLeft = '511px'
        backbtna.style.display = 'none'
        title.style.paddingLeft = '0px'
        content1.style.marginLeft = '0px'
        header2.style.display = ''
      }
      else {
        postlist.style.display = 'none'
        postlist.style.height = ''
        postlist.style.borderRight = ''
        contentdiv.style.width = ''
        contentdiv.style.paddingLeft = ''
        backbtna.style.display = ''
        title.style.paddingLeft = ''
        content1.style.marginLeft = ''
        header2.style.display = 'none'
      }
    }
    window.addEventListener("resize", function() {
      resizeevent();
  })
  window.onload = function() {
  resizeevent();
  }
  </script>
<script>
    header2 = document.getElementById('header2');
    window.addEventListener('scroll', () => { 
        if (window.scrollY == 0) {
            header2.style.fontSize = "";
        } else if (window.scrollY <= 48) {
            header2.style.fontSize = 48 - scrollY/5;
        } else {
            header2.style.fontSize = "20px"
        }
    });
  </script>
